<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        // var table = document.createElement("table");
        // for(var property in table){
        //     document.write(property + "<br/>");
        // }
        var values = [10, true, "Samsung TV"];
        var [id, stock, name ] = values;
        document.write(name);
        document.write(stock);
    </script>
</head>
<body>
    
</body>
</html>